tr {
  height: 2rem;
  margin: 0.3rem;
  #nameOfTheRecipe {
    color: #39686b;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    width: 70%;
  }

  .addRecipeToShoplistBtn {
    button {
      background-color: #95c7ca;
      border: none;
      border-radius: 10px;
      color: #ffffff;
      font-size: 0.7rem;
      font-weight: 700;
      padding: 0.3rem;
      width: 100%;
      &:hover {
        color: #39686b;
        cursor: pointer;
      }
    }
  }
  .removeRecipeFromShoplistBtn {
    button {
      background-color: #d13f1b;
      border: none;
      border-radius: 10px;
      color: #ffffff;
      font-size: 0.7rem;
      font-weight: 700;
      padding: 0.3rem;
      width: 100%;
      &:hover {
        color: #39686b;
        cursor: pointer;
      }
    }
  }
  .removeRecipeBtn {
    button {
      background-color: #a76040;
      border: none;
      border-radius: 10px;
      color: #ffffff;
      font-size: 0.7rem;
      font-weight: 700;
      padding: 0.3rem;
      width: 100%;
      &:hover {
        color: #39686b;
        cursor: pointer;
      }
    }
  }
  .nameOfTheRecipe {
    color: #39686b;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    width: 25%;
  }

  .ingredientMain {
    color: #39686b;
    // display: none;
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
    width: 25%;
  }

  .ingredient {
    color: #95c7ca;
    // display: none;
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
    width: 15%;
  }
}

.showIngredients {
  button {
    background-color: #606e0f;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 0.7rem;
    font-weight: 700;
    padding: 0.3rem;
    width: 100%;
    &:hover {
      color: #dfdd6d;
      cursor: pointer;
    }
  }
}
