.wrapper {
  background-color: #efefef;
  max-width: 1200px;
  margin: -1rem auto 0 auto;
  padding: 0 1rem;
}
.first-entry {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  padding: 3rem;
  width: 100%;
  background-image: url("../../images/food.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  h3 {
    color: #ffffff;
    font-size: 5rem;
    padding: 0.5rem 0;
    text-align: center;
  }
  h5 {
    color: #ffffff;
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
  }
  .inputs {
    display: flex;

    input[type="text"] {
      border-radius: 5px;
      color: #39686b;
      font-size: 1.5rem;
      font-weight: 700;
      height: 3rem;
      border: 2px solid #ffffff;
      margin: 1rem 2rem 1rem 0;
      padding-left: 0.5rem;
      width: 70%;
      &::placeholder {
        color: #39686b;
        font-size: 1.5rem;
        padding-left: 0.5rem;
      }
    }
    input[type="button"] {
      background-color: #95c7ca;
      border: none;
      border-radius: 10px;
      color: #ffffff;
      font-size: 1rem;
      font-weight: 700;
      margin: 1rem 0;
      padding: 0.8rem;
      width: 40%;
      &:hover {
        color: #39686b;
        cursor: pointer;
      }
    }
  }
}

.second-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 3rem 0 3rem 7rem;
  width: 100%;
  width: 100%;
  background-image: url("../../images/food2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    color: #39686b;
    font-size: 5rem;
    padding: 2rem 0;
    text-align: center;
  }
  h5 {
    color: #39686b;
    font-size: 3rem;
    padding: 1rem 0;
    text-align: center;
  }
  #letsGo {
    margin: 2rem 0;
    background-color: #093307;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.7rem;
    width: 30%;
    &:hover {
      color: #967f1c;
      cursor: pointer;
    }
    a {
      color: #ffffff;
      text-decoration: none;
      &:hover {
        color: #967f1c;
        cursor: pointer;
      }
    }
  }
}
