.first-entry {
  height: 100vh;
  padding: 3rem;
  width: 100%;
  h3 {
    font-size: 4rem;
    text-align: center;
  }
  h4 {
    font-size: 3rem;
    text-align: center;
  }
}

.second-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 3rem;
  width: 100%;
  h1 {
    color: #39686b;
    font-size: 5rem;
    padding: 2rem 0;
    text-align: center;
  }
  h5 {
    color: #95c7ca;
    font-size: 3rem;
    padding: 1rem 0;
    text-align: center;
  }
  #letsGo {
    margin: 2rem 0;
    background-color: #093307;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.7rem;
    width: 30%;
    &:hover {
      color: #967f1c;
      cursor: pointer;
    }
    a {
      color: #ffffff;
      text-decoration: none;
      &:hover {
        color: #967f1c;
        cursor: pointer;
      }
    }
  }
}
