.yourRecipes {
  min-width: 50vw;
  #yourRecipesHeadline {
    color: #39686b;
    margin-bottom: 2.6rem;
    text-transform: uppercase;
  }
  h2 {
    color: #39686b;
    text-align: center;
  }
  table {
    border: 1px solid #95c7ca;
    border-radius: 10px;
    margin: 0 auto;
    width: 70%;
  }
}
