nav {
  background-color: #95c7ca;
  height: 3rem;
  padding: 1rem 0;
  width: 100%;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      display: block;
      list-style: none;
      padding: 0 2rem;
      text-decoration: none;
    }
  }
}
