.col-6 {
  // align-items: center;
  //min-width: 50vw;
  h1 {
    color: #39686b;
    text-align: center;
    text-transform: uppercase;
  }
  h2 {
    color: #39686b;
    text-align: center;
  }
  table {
    border: 1px solid #95c7ca;
    border-radius: 10px;
    margin: 0 auto;
    width: 70%;
    tbody {
    }
  }
}
